<h1 class="text-center">Data is loaded</h1>
<div class="container-fluid">
	<table class="table tabl-striped">
		<thead>
			<th>ID</th>
			<th>Document ID</th>
			<th>Document Type</th>
			<th>Subject</th>
			<th>Open Document(link)</th>
			<th>Status</th>
			<th colspan="2">Action</th>
		</thead>
		<tbody>
			<tr *ngFor = "let data of allData; let ndx = index">
				<td scope="row">{{ ndx+1 }}</td>
				<td>{{ data.documentId }}</td>
				<td>{{ data.documentType }}</td>
				<td>{{ data.subject }}</td>
				<td><a href="{{ data.link }}">{{ data.link }}</a></td>
				<td id="status">{{ data.status }}</td>
				<td>
					<input type="radio" name="statuscheck" value="{{ data.approval[0] }}" title="Accept" id="accepted">
				</td>
				<td>
					<input type="radio" name="statuscheck" value="{{ data.approval[1] }}" title="Reject" id="rejected">
				</td>
			</tr>
		</tbody>
	</table>
</div>
